#hero {
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: $section-height;
}

.hero-description {
  width: 40%;
  color: white;
  font-weight: 800;
  position: relative;
  top: 50%;
  margin: 0 2em;

  h1 {
    font-size: 2em;
    margin: 0 0 1em;
  }

  .hero-button {
    background-color: $primary-color;
    text-decoration: none;
    color: black;
    padding: 0.5em;
    border-radius: 8px;
    margin-top: 1em;

    &:hover {
      background-color: $dark-salmon;
      transition: 0.5s linear;
    }
  }
}
