
.logo {
  display: inline-block;
  margin-left: 2em;

  img {
    width: 48px;
    vertical-align: middle
  }
}

.nav-link {
  border-radius: 8px;
  position: relative;

  .inside-nav-link {
    text-decoration: none;
    color: black;
    border-radius: 8px;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  &:not(.selected):hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

  &:hover {
    background-color: $dark-salmon;
    .inside-nav-link {
      color: white;
    }
  }
}
