.header.panel {
  background-color: #f2a396;
  border: 1px solid black;
}

.header .navigation .user-profile {
  align-items: center;
}

.header .navigation .user-profile .username {
  margin-right: 1em;
}

#login {
  background-color: #f8edeb;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

#login .login-container {
  margin: 0 auto;
  width: 40%;
}

#login .login-container h1 {
  margin: 0;
}

#login .login-container .login-form {
  flex-direction: column;
  margin-top: 1em;
}

#login .login-container .login-form label {
  margin-bottom: 0.5em;
}
#login .login-container .login-form input {
  margin-bottom: 1em;
  padding: 0.5em;
}
#login .login-container .login-form .form-actions {
  margin: 1em 0;
  align-self: flex-end;
}

#login .login-container .login-form .form-actions a {
  text-decoration: none;
  color: black;
}

.main .sidebar {
  width: 200px;
  background-color: #fec5bb;
}

.main .sidebar ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main .sidebar ul li {
  list-style: none;
  cursor: pointer;
  padding: 1em;
}

.main .sidebar ul li.selected {
  background-color: #fec89a;
  border: 1px solid black;
}

.main .sidebar ul li a {
  text-decoration: none;
  color: black;
}
.main .main-content {
  margin: 0 2em;
  width: 100%;
}

.main .main-content .content-header {
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.main .main-content .main-table th,
.main .main-content .main-table th,
.main .main-content .main-table td,
.main .main-content .main-table td {
  padding: 0.5em;
}

.main .main-content .main-table th,
.main .main-content .main-table th {
  background-color: var(--ligth-orange);
}

.main .main-content .main-table .table-row-data.odd td,
.main .main-content .main-table .table-row-data.odd td {
  background-color: var(--dark-salmon);
}

.main .main-content .new-form .form-group {
  background-color: white;
  padding: 1em 2em;
  margin-bottom: 1.5em;
  width: 75%;
  border-radius: 8px;
}

.main .main-content .new-form .pet-group,
.main .main-content .new-form .associate-group  {
  justify-content: space-between;
  align-items: flex-start;
}

.main .main-content .new-form .form-actions {
  float: right;
  margin-bottom: 1em;
}

.main .main-content .new-form .form-group input {
  height: 30px;
}

.main .main-content .new-form .form-group input,
.main .main-content .new-form .form-group select {
  margin-bottom: 1em;
  display: block;
}

.main .main-content .new-form .form-group img {
  width: 200px;
  margin: 0.25em;
}

.main .main-content .new-form .form-group .info {
  justify-content: space-between;
}

.main .main-content .new-form .form-group .images-container {
  flex-wrap: wrap;
}

.row {
  grid-gap: 0.25em;
  grid-template-rows: 50px;
  grid-template-columns: repeat(6, 1fr);  
}

.row.headers * {
  background-color: var(--ligth-orange);
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.row.odd * {
  background-color: var(--salmon);
}